% require 'dbi'

<% dbh = DBI.connect('DBI:SQLite3:fruits01.db') %>

<% sth = dbh.execute("select * from products") %>

<% sth.each do |row| %>
  <ul>
  <% row.each_with_name do |val,name| %>
    <li><%= "#{name}: #{val.to_s}" %></li>
  <% end %>
  <li>
<% end %>

<% sth.finish %>
<% dbh.disconnect %>
