<% require 'dbi'%>
<% dbh = DBI.connect('DBI:SQLite3:fruits01.db') %>

<html lang='ja'>
  <meta charset='utf-8'>
  <body>
    <% sth = dbh.execute("select * from products") %>

    <% sth.each do |row| %>
      <ul>
        <% row.each_with_name do |val,name| %>
          <li><%= "#{name}: #{val.to_s}" %></li>
        <% end %>
        <hr>
      </ul>
    <% end %>
  </body>
</html>

<% sth.finish %>
<% dbh.disconnect %>
