<!DOCTYPE html>
<% require 'dbi' %>
<% dbh = DBI.connect('DBI:SQLite3:bookinfo_sqlite.db') %>

<% sth = dbh.execute("select * from bookinfos;") %>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="default.css" type="text/css">
    <title>蔵書管理</title>
  </head>
  <body>
    <h1>蔵書管理</h1>
    <h2>蔵書データの表示</h2>
    <p>処理数蔵書データを選択してください|
      <a href="entry.erb">蔵書データの登録</a>
      <a href="retrieve.erb">蔵書データの検索</a>
      <a href="index.html">メニュー画面に戻る</a>
    </p>
    <hr>
    <form method="post" action="list">
      <table>
        <tr>
          <th>削除</th>
          <th>修正</th>
          <% sth.column_names.each do |name| %>
            <th><%= "#{name}" %></th>
          <% end %>
        </tr>
        <% sth.each do |row| %>
          <tr>
            <% row.each_with_name do |val,name| %>
              <% if name == 'id' then %>
                <td><input type="radio" name="operation" value=<%="#{val}.delete"%> ></td>
                <td><input type="radio" name="operation" value=<%="#{val}.edit"%> ></td>
              <% end %>
              <td><%= "#{val.to_s}" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <input type="submit" value="選択した処理を実行"> 
      <hr>
    </form>
  </body>
</html>
<% sth.finish %>
<% dbh.disconnect %>
